<ion-header>
  <ion-toolbar>
    <div style="text-align: center;">
      <div style="margin-top: 15px; margin-bottom: 7px;">
        <img src="../../../assets/images/site.jpg" alt="Logo" class="logo" style="width: 45px; height: 45px; border-radius: 4px;">
        <ion-title style="font-size: 30px;">Aster Store</ion-title>
      </div>
    </div>
    <ion-title style="margin-bottom: 10px; font-size: 25px;">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let produto of produtos; let i = index">
      <ion-label>
        {{ produto.descricao }} - R$ {{ produto.desconto | number:'1.2-2'}}
        <p>{{ produto.quantidade }} unidade(s)</p>
        <img [src]="'../../../assets/images/produtos/' + produto.codigo + '.jpg'" alt="{{ produto.descricao }}" style="width: 80px; height: auto; border-radius: 4px; display: block; margin-bottom: 5px;">
        <p>Valor: R$ {{ (produto.quantidade * produto.desconto) | number:'1.2-2' }}</p>
      </ion-label>
      <ion-button color="danger" (click)="removerProduto(i)">
        Remover
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <p>Total: R$ {{ total | number:'1.2-2' }}</p>
      <p>Frete: R$ {{ frete | number:'1.2-2' }}</p>
      <h2><strong>Valor Final: R$ {{ final | number:'1.2-2' }}</strong></h2>
      <ion-button expand="full" (click)="finalizarCompra()">Finalizar Compra</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
